/* positions => to place the html element on the screen 
Static=> default you mention or not
1. Fixed
2. sticky
3. absoulte (most confusing but most important)
4. relative

*/
.card{
    border: 1px solid lightgray;
    width: 320px;
    padding: 10px;
    margin: 16px auto;
    border-radius: 14px;
    position: relative;
}
.card-img{
    width: 100%;
    border-radius: 14px;
    
}
.best-level{
    position: absolute;
    bottom: 150px;
    left: 20px;
    color: white;

}