/* positions => to place the html element on the screen 
Static=> default you mention or not
1. Fixed
2. sticky
3. absoulte (most confusing but most important)
4. relative

*/
.card{
    border: 1px solid lightgray;
    width: 320px;
    padding: 10px;
    margin: 16px auto;
    border-radius: 14px;
    display: none;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.help-btn{
    padding: 14px 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    /* top: 0; */
}

/* top, right, bottom, left: distance from that direction */

.banner{
    width: 270px;
    margin: 10px auto;
    background-color: orangered;
    padding: 10px;
    border-radius: 12px;
    /* at last positio given */
    position: sticky;
    top: 0;

    display: none;

}
/* reduce the gap between the title & description */
.banner-title{
    margin: 0;

}
/* reduce the size of descrition */
.banner-desc{
    font-size: 13px;
    margin: 4px 0;
}



/* absolute-leaft your content just one level up */


.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.blue{
    width: 60px;
    height: 60px;
    background-color: royalblue;
    color: white;
    position: absolute;
}
.green{
    width: 80px;
    height: 80px;
    background-color: greenyellow;
}